@import 'partials/variables.scss';
@import 'partials/mixins.scss';




:root{
    font-size: 1rem;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

img {
    width: 100%;
    height: 100%; 
}

header {
    background-color: $color-header;
    display: flex;
    flex-direction: column;
}

.header__top, .header__bottom{
    background-color: $color-header;
    width: 100%;
    height: 25%;
}

.header__middle {
    background-color:lighten($color: $color-header, $amount: 5%) ;
    width: 100%;
    height: 50%;
}

